/* ↔️ max-width + ↕️ max-height ================================================ */

@media only screen and (max-height: 600px) {
  body {
    background-color: #00ff00;
  }
  #mainText1 {
  position: fixed;
  top: 100px;
  left: 20px;
  rotate: -30deg;

  font-family: 'variableFont';
  font-size: 150px;
  color: black;
  text-align: left;
  letter-spacing: 0px;
  line-height: 200px;
  /* text-wrap: nowrap; */

	font-variation-settings: "opsz" 184, "wght" 500, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: rotate 1s ease-in-out, font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}
  #mainText2 {
  position: absolute;
  bottom: 0;
  left: 0;
  rotate: 30deg;

  font-family: 'variableFont';
  font-size: 100px;
  color: black;
  text-align: left;
  letter-spacing: 0;
  line-height: 200px;
  /* text-wrap: nowrap; */
  
	font-variation-settings: "opsz" 100, "wght" 200, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}
}

